.Flex{
    // display: flex;
}

.Deals{
    // width: 100%;
}

.items{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

    &:hover{
        box-shadow:0px 10px 30px -10px rgb(85, 83, 83);
    }
    img{
        height: 200px;
    }
    h2{
        width: 300px;
        height: 100px;
        overflow: hidden;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        font-size: 20px;
        font-weight: 600;

    }

    .Categary{
        color: gray;
        text-transform: uppercase;
        font-size: 15px;
    }
}

.incbtn{
    margin-top: 20px;
    display: flex;

    align-items: center;
    button{
        background-color: rgb(214, 208, 208);
        border: 0px;
        outline-width: 0px;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    h3{
        margin: 0px 20px;
        padding-bottom: 10px;
        // text-decoration: underline;
        color: rgb(130, 3, 248);
    }
}

.total{
    margin-top: 30px;
    padding: 10px;
    color: rgb(234, 0, 255);
    font-size: 25px;
}
.Categary > button{
    background-color: rgba(255, 0, 0, 0.089);
    border: 0px;
    border-radius: 50%;
    padding: 9px;
    // margin-left: 30px;

    &:focus{
        background-color: orange;
        border: 0px;
    }
    &:active{
        background-color: orange;
        border: 0px;
    }
}

.Flex {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 650px) {

    .items{
        display: block;
        height: 470px;

    }
    .incbtn{
        margin-top: 0px;
        padding-top: 0px;
        position: relative;
        top: -30px;
        left: -10px;
    }
    .Categary  {
        position: relative;
        top: -340px;
    }
    .items{
        padding: 20px;
        padding-top: 30px;
        overflow: hidden;
        h2{
            width: 260px;
            height: 50px;
            overflow: hidden;
        }
    }

    .rate{
        position: relative;
        top: -0px;
    }
    .total{
        position: relative;
        top: -70px;
        justify-content: flex-end;
        text-align: end;
    }

}