.Flex{
    // display: flex;
}

.Deals{
    // width: 100%;
}

.items{
    margin: 10px;
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    img{
        height: 200px;
    }
    h2{
        width: 300px;
        height: 100px;
        overflow: hidden;
        font-size: 20px;
        font-weight: 600;

    }

    .Categary{
        color: gray;
        text-transform: uppercase;
    }
}

.incbtn{
    margin-top: 20px;
    display: flex;

    align-items: center;
    button{
        background-color: rgb(214, 208, 208);
        border: 0px;
        outline-width: 0px;
        margin: 10px;
        padding: 5px;
        border-radius: 5px;
    }
    h3{
        margin: 0px 20px;
        padding-bottom: 10px;
        // text-decoration: underline;
        color: rgb(130, 3, 248);
    }
}

.total{
    margin-top: 30px;
    padding: 10px;
    color: rgb(234, 0, 255);
    font-size: 25px;
}
.Categary > button{
    background-color: rgba(255, 0, 0, 0.089);
    border: 0px;
    border-radius: 50%;
    padding: 9px;
    // margin-left: 30px;

    &:focus{
        background-color: orange;
        border: 0px;
    }
    &:active{
        background-color: orange;
        border: 0px;
    }
}

.Categary {
    display: flex;
    justify-content: space-between;
}


@media (max-width: 650px) {

    .items{
        display: block;

    }
    .incbtn{
        margin-top: 0px;
    }
    .Categary >button {
        position: relative;
        top: -370px;
    }

}