@font-face {
  font-family: 'Nasa';
  src: local('Nasa'), url(./Nasa.ttf) format('truetype');
}

.dark-menu {
  background-color: rgb(10, 10, 10) !important;
  color: rgb(247, 245, 245);
}

.dark-menu li a {
  color: rgb(172, 114, 114) !important;
  border-radius: 10px;
}

.dark-menu li a:hover {
  background-color: orange !important;
  border-radius: 10px;
}

.header {
align-items: center;
text-align: center  ;
display: flex;
flex-direction: row;
justify-content: space-around;

  max-width: 100%;
  padding: 15px;
  margin: 0px auto;
  
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.grey-color {
  color: gray;
}

.header li a {
  display: block;
  padding: 10px 15px;
  color: rgb(10, 10, 10);
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-family: 'Bioweapon';
  font-family:Verdana, Geneva, Tahoma, sans-serif;
font-size: 19px;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color:rgba(168, 166, 168, 0.473);
}

.header .logo {
  display: block;
  flex: none;
  float: left;
  font-size: 1.5em;
  text-decoration: none;
  margin-top: 10px;
  line-height: normal;
}

.logo >img{
  height: 60px;
  /* width: 200px; */
}
.header .logo-name {
 
  color: rgb(248, 246, 245);
  font-family: Nasa, sans-serif;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 24px;
// text-transform: uppercase;
padding-left: 5px;
font-weight: 700;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: gray;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon-dark:before,
.header .menu-icon .navicon-dark:after {
  background: gray !important;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 486px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

// @media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header .menu {
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
// }


@media (max-width: 960px) and (min-width: 768px) {
  .header {
    font-size: 25px;
  }
}

@media (max-width: 768px) {

  .header .logo-name {

    padding-left: 10px;

}
.header {
  padding:10px;
}
 }
 

 
 .search{
  font-size: 15px;
  border-radius: 6px;
  outline-width: 0px;
  /* padding: 0px 10px; */
  /* width: 40%; */
  background-color: #1b1f23;
  border: 0px solid rgb(7, 7, 7);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-right: 10px;

}

.search1{
  background-color: #1b1f23;

}

.search_back{
  /* Color Schema */
  background-color: #30363d;
  background-color: #fff9f9;
  background-color: #0d1117;
}

.cartlen{
  background-color: rgba(255, 0, 0, 0.815);
  color: rgb(241, 236, 234);
  padding:1px 4px;
  border-radius: 70%;
  font-size: 13px;
  position: relative;
  top: -16px;
  left: 30px;
}

.drop{
  background-color: #30363d;
  font-size: 15px;
margin-right: 25px;
border: 0px;
}



.item{
  color: black;
  font-size: 18px;
  font-family: serif;
}

.header{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  
}

.menu_icon{
  position: relative;
  // top: -50px;
}
 input, select, textarea, optgroup {
  font: inherit;
  margin: 0;
  color: rgb(250, 246, 246);
  background-color: #30363d;
  padding: 6px;
  border: 0px;
  outline-width: 0px;
  margin-right: 15px;
  // border-radius: 7px;

  &:hover{
    cursor: pointer;
  }
}

.item{
  color: white;
  // padding: 19px;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


@media (max-width: 418px) {

  .search{
margin-top: 10px;
margin-bottom: 10px;
display: none;

  }
.search1{
width: 280px;  
padding-left: 10px;
}

.menu{
  display: none;
}

.item{
  // padding: 19px;
  font-size: 10px;
}

.header{
}

.dropdown{
  display: none;
}

}


@media (min-width: 418px) {


.mob_icon{
display: none;
}


}

.mob_icon{
  // background-color: red;
}

.pos{
position: relative;
left: 30px;
}
.pos1{
  position: relative;
  left: 40px;
}

.login_div >button{
  background-color: rgba(255, 0, 0, 0.781);
  padding: 4px 15px;
  border-radius: 20px;
  outline-width: 0px;
  margin-top: 7px;
  margin-left: 20px;
  border: 0px;
  font-size: 20px;
  color: white;
  margin-top: 10px;
}

.login_div >button:hover{
  background-color: white;
  color: rgb(68, 66, 62);
  cursor: pointer;
}

.header_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

a{
  padding: 0px;
}

.p-l{
padding-left: 20px;
}