.Deals{
    padding: 10px;
  width: 212px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  margin: 7px;
//   border-radius: 10px;

  
  img{
      height: 200px;
      width: auto;
      border-radius: 10px;
  }

  h2{
      font-size: 20px;
      height: 50px;
      overflow: hidden;
  }

  &:hover{
      position: relative;
      top: -10px;
      
      box-shadow: 0 10px 10px -15px black;
      cursor: pointer;
  }
}



.Price{
    font-size: 20px;
    color: rgb(252, 113, 0);

}

.mrp{
    text-decoration: line-through;
}

span{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    color: black;
    text-decoration: none;
}

.cart_btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button{
        border: 1px solid rgba(190, 178, 178, 0.89);
        border-radius: 10px;
        align-items: center;
        background-color: rgb(255, 255, 255);
        padding:4px 9px;
        margin-top: 20px;
        outline: none;

        margin: 5px;

        &:hover{
            background-color: rgba(224, 14, 14, 0.692);    
                box-shadow: 0 10px 10px -10px black;

        }

    }

}
.pp{
    // background-color: rgba(255, 0, 0, 0.705);
}
@media (min-width: 650px) {

.Like > button{
    background-color: rgba(245, 245, 245, 0.966);
    border-radius: 50%;
    padding: 5px 7px;
    position: relative;
    top: -350px;
    left: 120px;
    // height: 20px;

}

}

@media (max-width: 650px) {
    .Deals{
    width: 175px;
    margin: 1px;

    
  
  img{
    height: 150px;
    width: auto;
}
    }

    
.Like > button{
    background-color: rgba(245, 245, 245, 0.966);
    border-radius: 50%;
    padding: 5px 7px;
    position: relative;
    top: -300px;
    left: 100px;
    outline: none;


}

.cart_btn{ 
    button{
        margin: 0px;
    }
}

}


.Deal_btn {
    button{
        border: 0px;
        background-color: none;
        margin: 0px;
        padding: 0px;
        align-items: flex-start;
        text-align: left;
        outline: none;
        // background-color: white;

    }
}