
.fullbody{
    position: relative;
    // top: -250px;
}

body{

// Color Schema
    background-color: #0d1117;
    background-color: #eaeded;
}


@media (max-width: 1150px) {

    .fullbody{
        position: relative;
        top: 0px;
    }
    
    
   }

.first_row{
    padding-top: 20px;
    padding-bottom: 20px;
  
}



.product_container{
    display: inline-block;
    align-content: center;
    overflow: inherit;
    cursor: pointer;

    margin: 0px;
   
    padding-left: 4px;
    padding: 8px;
    width: 335px;

         // Color Schema

    background-color: #2b374286;
    background-color: white;
    margin-left: 5px;
    height: 450px;
    margin-bottom: 20px;

    h2{


        // Color Schema

        color: rgb(247, 238, 238);
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 21px;
        height: 50px;
        overflow: hidden;
        padding-left: 8px;
    }


    .product_component{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 


       .product_component_product{
           padding-bottom: 0px;
            width: 120px;
            height: 160px;
            overflow: hidden;
            

            img{
                height: 80%;
                position: relative;
                left: -30px;
            }


            h7{

                // Color Schema
                color: #f6f6ff;
                color: black;

                font-size: 11px;
            }
        }

       #btn{
           background-color: red;
        }



}
}






.img_container{
    display: inline-block;
    align-content: center;
    overflow: inherit;
    cursor: pointer;
    position: relative;
    // top: -41px;
    // margin: 10px;
   
    padding: 20px;
    width: 330px;
    background-color: #ffffff;
margin-bottom: 20px;
    height: 450px;


    h2{
        color: black;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        font-size: 21px;
        padding-left: 8px;
    }
  


    .img_component{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        overflow: hidden;
    

            img{
                height: 80%;
                position: relative;
                left: -10px;
            }


        }

     


}






#btn{
    // padding-top: 7px;
background: none;
font-size: 13px;
border: none;
color: blue;
position: relative;
left: 8px; 

&:hover{
    color: rgb(221, 78, 12);
    border-bottom: 1px solid blue;

}
}



.container{
    width: 1500px;
    margin: 0px;
    padding: 0px;
}


.Slider_component{
    background-color: black;
    overflow: hidden;
    height: 300px;
    width: 1600px;
}



.Slider_body{
  
    padding: 20px;
    width: auto;
//  height: 320px;

    rate{
        color: black;
        font-size: 15px;
    }

    date{
        color: black;
        font-size: 13px;

    }



    .Slider_product{
    display: flex;
        justify-content: space-around;
        flex-wrap: wrap; 
        // overflow: hidden;
    

            img{
                height: 170px;
                width: auto;
                position: relative;
                left: -10px;
            }


        }

     


}





















  .hs {
   display: flex;
   flex-direction: row;
   overflow-x: scroll;
  }
  
  

  ul {
    list-style: none;
    padding: 0;
  }
  
  h1{
    margin: 0;
    color: #575757;
    font-size: 30px;
   
  }
  
 
  


  .first_rw{
      padding: 10px;
  }
  
  #books{
      height: 200px;
      width: 25%;
  }

#footerdp{
    width: 200px;
    border-radius: 20px;
    height: auto;
}



h1{
    color: black;
}

.bookimgs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carousel-item > img{
    height: 300px;
}

@media (max-width: 650px) {

   
    .carousel-item > img{
        height: 190px;
    }
    
   }


         
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(29, 25, 78, 0); 
                        
    // Color Schema
    background-color: #0a192f;
    background-color: white;
  
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(4, 197, 240); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  .slider{
      background-color: rgb(255, 255, 255);
  }