
	body {
	    margin: 0;
	    // font-family: Roboto;
	}




	.navbar-demo {
	    // display: table;
	    width: 100%;
	    position: fixed;
        // display: none;
	    // z-index: 99;
	}

	.navbar-demo .nav-bar ul li {
	    display: block;
	}

	.navbar-demo .nav-bar ul {
	    padding: 0;
	    display: table;
	    // text-align: center;
	    display:flex;
	    flex-wrap:wrap;
	    // justify-content:center;
	    // align-items: center;
	    margin: 0;
	    padding: 0;
	}

	.navbar-demo .nav-bar ul li a {
	    font-size: 18px;
	    display: inline-block;
	    // text-align: center;
	    text-decoration: none;
	    color: rgb(0, 0, 0);
	    padding: 18px;
	    text-transform: uppercase;
	}

	.nav-bar {
	    // text-align: center;
	    // display:flex;
	    // flex-wrap:wrap;
	    // justify-content:center;
	    // align-items: center;
	    position: relative;
	}
	.navbar-demo button.menu-btn {
	    display:none;
	}







@media only screen and (max-width: 767px){
   .navbar-demo  button.menu-btn {
        position: fixed;
        top: -5px;
        left: -10px;
        background-color: rgba(0, 0, 0, 0);
        border: 0;
        font-size: 20px;
        display:block;
        padding: 23px;
        color: #fff;
        outline: none;
        height: 10px;
    } 
    .navbar-demo{
	    height:100%;
	    z-index: 999;
	}
    .navbar-demo .nav-bar {
        left: -950px;
        background-color: #fcfcfc;
        transition: 1s;
        height: 100%;
    }
.nav-bar{
    
}


	.navbar-demo.open-nav  .nav-bar{
	    left: 0;
	    width: 80%;
	    transition: left 0.5s;
	    height: 100%;
	}

	.navbar-demo .nav-bar ul li a {
	     display: block;
	     color: rgb(0, 0, 0);
	}
	.navbar-demo.open-nav button.menu-btn i:before {
	    content: '\f00d ';
	}
}

@media (min-width: 650px) {
#header{
    display: none;
}

}

.menu-btn{
    position: relative;
    top: -100px;
}