.Coll_body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
                    // Color Schema
    background-color: #1b1f23;
    background-color: white;
    padding-bottom: 10px;
    .Coll_block{
        margin: 5px;
        padding: 5px;
        border-radius: 2px;
        margin-left: 20px;

        img{
            height: 70px;
        }

        h3{
            font-size: 15px;
            text-transform: uppercase;
            font-weight: 700;
                    // Color Schema

            color: white;
            color: black;
        }
    }
}


.Coll{
padding: 10px;
    h2{
        text-align: left;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 30px;
            
        // Color Schema
        color: white;
        color: black;

    }
}



@media (max-width: 650px) {

   
.Coll{
        h2{
            font-size: 20px;
    
        }
    }


    .Coll_block{
       
        img{
            height: 50px;
        }

        h3{
            font-size: 10px;
            
    }
   }
}