

.down {
 position: relative;
    top: 350px;
}

.movie{
  margin: 17px;
  display: inline-block;
  width: 190px;
  align-content: center;
  padding: 5px;
  overflow: inherit;


  
  box-shadow: 2px 2px 2px 2px rgb(29, 28, 28);
  
  background-color: rgb(66, 64, 64);
}


.movie:hover{
  position: relative;
  top: -10px;
  box-shadow: 0px 1px 12px 0px rgb(51, 111, 189);
  cursor: pointer;
}
 #img1{
height: 180px;
width: 180px;
border-radius: 10px;
box-shadow: 0px 2px 22px 0px rgb(31, 30, 30);
}
.plot{
 
  height: 32px;
  font-size: 13px;
  color: rgb(151, 142, 142);
  overflow: hidden;
  font-family: "Lucida Calligraphy";
}

h2{
  padding-top: 3px;
  font-size: 25px;
  color: rgb(45, 211, 30);
  font-family: "Bodoni MT";
}
.show_info{
  margin-top: 10px;
  overflow: hidden;

}
.show_info > span{
  font-size: 13px;
  color: rgb(11, 12, 12);
}

.show_info > .imdb{
  margin-top: 10px;  
  position: relative;
  left: 90px;
}

.show_info > .imdb > img {
  width: 16px;
  height: 16px;

}

.delete{
  position: relative;
  top: -190px;
  left: 140px;
  height: 10px;
}

#del{
  background: none;
  animation: none;
  border: none;
}

.delete svg {
  fill: rgb(247, 8, 8) !important;
  height: 20px;
}

span{
  font-size: 5px;
  color: red;
}