.category_block{
    // display: flex;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    // padding: 20p x;
    img{
        height: 200px;
        // width: 200px;
        padding-right: 20px;
    }

    .Cat_info{
            h1{
            height: 70px;
            // width: 500px;
            font-size: 30px;
            overflow: hidden;
        }
        h2{
            color: orangered;
        }
        h3{
            text-decoration: line-through;
        }
    }
}
.Cat_info{
    background-color: rgba(255, 68, 0, 0.267) ;
    padding: 20px;
}
.img{
    padding: 10px;
}


@media (min-width: 650px) {

    .category_block{
        display: flex;
        width: 80%;
        justify-content: center;
    }
    .img{
       display: flex;
       width: 30%;
       align-items: center;
        background-color: rgb(255, 255, 255);
        justify-content: center;
    }
    .pro{
        position: relative;
        top: -100px;
    }
    .Cat_info{
        width: 70%;
    }
}