
.Auth_page{
    background-color: #ffffff;
    // background-image: url("https://previews.123rf.com/images/nosua/nosua1702/nosua170200233/72605962-home-appliances-in-the-shopping-cart-e-commerce-or-online-shopping-concept-breack-background-3d-rend.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    h1{
        padding: 20px;
        color: rgba(255, 0, 0, 0.705);
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 670;
        padding-bottom: 30px;
    }
}


.form{
    background-color: rgb(255, 255, 255);
    justify-content: flex-end;
    padding: 40px;
    box-shadow: 0px 10px 30px -10px rgba(1, 238, 255, 0.849);
//    border: 0.4px solid rgb(230, 230, 230);
    border-radius: 10px;

    input{
        background-color: rgba(255, 255, 255, 0.979);
        border-radius: 4px;
        padding: 5px;
        margin: 0px 0;
        color: rgb(255, 0, 0);
        font-size: 14px;
        &:hover{

            cursor: text;
        }
    }
    h2{
        font-size: 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        // text-transform: uppercase;
    }
    button{
        // background-color: rgba(255, 68, 0, 0.37);
        border: 0px;
        width: 50%;
        font-size: 20px;
        padding: 3px 0px;
        border-radius: 3px;
        outline: 0px;

    }
    h3{
        text-align: center;
        font-size: 25px;
        padding-bottom: 30px;
        text-transform: uppercase;
        font-weight: 600;
        color:orangered
    }
    h4{
        // text-align: center;
        font-size: 15px;
        padding: 10px;
        color:red;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    h6{
        span{
            color: blue;
            padding-left: 10px;
            text-decoration: underline;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

.register{
    background-color: orangered;
            color: white;

            &:hover{
                background-color: white;
                color: black;
                border: 1px solid orangered;
                
            }

}
.login{
    color: black;
    border: 10px solid rgb(0, 9, 128);
    border: 10px solid red;
    background-color: white;

}
@media (min-width: 650px) {
    .Auth_page{
        // background-color: #ffffff;
        background-image: url("https://previews.123rf.com/images/nosua/nosua1702/nosua170200233/72605962-home-appliances-in-the-shopping-cart-e-commerce-or-online-shopping-concept-breack-background-3d-rend.jpg");
    } 
    
    
.Auth{    
    display: flex;
    align-items: center;
 
    .form{
        width: 30%;

    }
}

}


@media (max-width: 650px) {


}