.cart{
    background-color: #eaeded;
    padding: 20px;

   .title{
display: flex;

  
    h1{
        font-size: 35px;
        color: rgb(131, 127, 127);
        text-transform: uppercase;
        font-weight: 700;
        padding-right: 20px;
        margin: 10px;

    }

}

}

.cart_iems{
    // background-color: red;
}



.noitems{
    height: 60vh;
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    h1{
        font-size: 35px;
        color: rgb(182, 78, 78);
        text-transform: uppercase;
        font-weight: 700;
        padding-right: 20px;
        margin: 10px;
    }
}

.Place{
    position: fixed;
    bottom: 0px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 84%;
    padding: 10px;
    // color: orangered;
    border: 1px solid rgb(0, 0, 0);

    button{
        background-color: orangered;
        border: 0px;
        border-radius: 4px;
        padding: 7px 15px;
        font-size: 20px;

        color: white;
box-shadow: 0px 10px 30px -10px red;
        &:hover{
            background-color: #fff;
            border: 1px solid orangered;
            color: orangered;
        }
    }

    h2{
        color: rgb(183, 0, 255);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    h1{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}


@media (min-width: 650px) {
  
        
          
    .title>h1{
                padding-right: 0px;
                font-size: 40px;

            }
            .Place{
                h1{
                    color: orangered;
                    font-weight: 550;
                    text-transform: uppercase;
                    padding: 10px;
                }
               
            }

}

@media (max-width: 650px) {

    .Place{
        width: 100%;
        h1{
            color: orangered;
            font-weight: 550;
            font-size: 20px;
            text-transform: uppercase;
            padding: 10px;
        }

        button{
            width: 100%;
        }
    }
}

.pb{
    height: 100px;
}