.Cate{
    background-color: rgb(233, 233, 233);

    .ata{
        img{
            // height: 400px;
            width: 100%;
            border-radius: 10px;
            // box-shadow: 0px 10px 20px -10px rgb(22, 146, 177);
            margin-bottom: 20px;

           
        }
        h1{
          
            color: rgb(0, 0, 0);
            text-transform: uppercase;
           
           
        }
    }
   
}
.up{
  
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(153, 153, 153, 0.61),
        rgba(255, 255, 255, 0.973)
      );
}


@media (min-width: 650px) {

    .ata{
        img{
            height: 300px;
            border-bottom-left-radius: 200px;
         
        }
        h1{
            padding: 40px;
            font-weight: 600;
            font-size: 45px;

        }
    }
    .pro{
        padding: 20px;
    }

    .up{
        position: relative;
        top: -150px;

    }
}

@media (max-width: 650px) {

    .ata{
        img{
            height: 200px;
            border-bottom-left-radius: 0px;

         
        }
        h1{
            // display: none;
            font-weight: 600;
            padding-left: 20px;
            font-size: 35px;
        }
    }

    .up{
        position: relative;
        top: -56px;
        border-radius: 10px;

    }
}