.Choose{
    // text-align: center;
    padding: 20px;
    background-image: url("https://miro.medium.com/max/3002/1*dP81IJq-tGFxy1rIK3RYsg.png");

    height: 120vh;
    h1{
        font-size: 52px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: rgb(175, 175, 175);
        text-transform: uppercase;
    }
}
.box{
    margin-top: 20px;
    margin: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    img{
        height: 150px;
        width: auto;
    }
    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    &:hover{
        cursor: pointer;
        box-shadow: 0px 10px 20px -10px rgb(43, 43, 43);
    }
}

.boxes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-left: 30px;

}
@media (min-width: 650px) {
    .Choose{
        
        background-image: url("https://static.vecteezy.com/system/resources/previews/000/954/093/large_2x/shopping-online-concept-with-cart-on-mobile-phone-vector.jpg");
    background-size:cover;
    h1{
        font-size: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }
   
    } 
    
}