.Choose{
    // text-align: center;
    padding: 20px;
    // background-image: url("https://miro.medium.com/max/3002/1*dP81IJq-tGFxy1rIK3RYsg.png");
// background-color: #eaeded;
background-image: linear-gradient(to right, rgb(182, 173, 173) , rgb(176, 104, 218));

    height: 120vh;
    h1{
        font-size: 52px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: rgb(107, 101, 101);
        // text-transform: uppercase;
    }
}
.box{
    margin-top: 20px;
    margin: 20px;
    // align-items: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    width: 220px;
    img{
        height: 150px;
        width: auto;
    }
    h3{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }
    &:hover{
        cursor: pointer;
        box-shadow: 0px 10px 30px -10px rgb(7, 156, 194);
        transform: scale(1.2);
    }
}

.boxes{
    display: flex;
    flex-direction: row;
    // align-items: center;
    // justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    // margin-left: 30px;

}
@media (min-width: 650px) {
    .boxes{
        // display: flex;
        // flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        // flex-wrap: wrap;
        // margin-top: 60px;
        // margin-left: 30px;
    
    }
    .Choose{
        
        background-image: url("https://static.vecteezy.com/system/resources/previews/000/954/093/large_2x/shopping-online-concept-with-cart-on-mobile-phone-vector.jpg");
    background-size:cover;
    h1{
        font-size: 50px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: 600;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
    }
   
    } 
    
}