iframe{
    height: 100%;
    width: 100%;
}

#search{
    background-color: #0d0e0e5d
}
#Poster{
    height: 300px;
    border-radius: 20px;
    align-items: center;
    margin-left: 50px;
    /* margin: 7px; */
}
input{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    outline-width: 0;
    
}
textarea{
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    outline-width: 0;
    width: 70%;
}

.dash{
    background-color: #0d1117;
    h1{
        font-size: 25px;
        color: white;
        // text-transform: uppercase;
        // text-align: center;
        padding: 20px;
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
.logot{
display: flex;
justify-content: space-around;
align-items: center;
background-color: black;
margin-bottom: 30px;
    
    
button{
    background-color: rgb(189, 3, 3);
    border-radius: 10px;
    margin: 20px;
    font-size: 13px;
    outline-width: 0;
    // padding: 5px;
    color: white;
    border: 0px;
    // padding: 10px 20px;
    // font-weight: 700;


}
button:hover{
    background-color: white;
    color: rgb(255, 0, 0);
    cursor: pointer;
}
}

button{
    background-color: rgb(189, 108, 3);
    border-radius: 10px;
    margin: 20px;
    font-size: 20px;
    outline-width: 0;
    padding: 5px;
    color: white;
    border: 0px;
    padding: 10px 20px;
    font-weight: 700;


}
button:hover{
    background-color: white;
    color: orange;
    cursor: pointer;
}
}
.sec{
    font-size: 20px;
    color: orange;
    input{
        margin-left: 30px;
    }
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 40px;
}
.gg{
    margin-left: 20px;
    width: 100%;
}
.sec{
    background-color: #1b1f23;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
 input, select, textarea, optgroup {
  font: inherit;
  margin: 0;
  color: rgb(250, 246, 246);
  background-color: #30363d;
  padding: 6px;
  border: 0px;
  outline-width: 0px;
  margin-right: 15px;
  border-radius: 7px;
}

.item{
  color: white;
  font-size: 20px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 20px;
}
.boxes{
    padding-bottom: 100px;
}

.boxess{
    background-color: #e5e0e7;
    padding: 20px;
    background-image: linear-gradient(to right, rgb(236, 72, 72) , rgb(176, 104, 218));

    h3{
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 35px;
        font-weight: 600;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
}


.shopproducts{
    background-color: white;
    padding: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    // align-items: center;
    // width: 250px;
    margin: 20px 10px;
    border-radius: 10px;
    overflow: hidden;
    img{
        height: 200px;
        border-radius: 10px;

        width: auto;
    }

    h3{
        font-size: 25px;
        color: rgb(0, 0, 0);
        // text-transform: uppercase;
        // text-align: center;
        padding: 10px;
        width: 300px;
        height: 70px;
        overflow: hidden;
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    }
    h4{
        font-size: 35px;
        color: rgb(255, 0, 0);
        // text-transform: uppercase;
        // text-align: center;
        padding: 10px;
       
        font-weight: 700;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    }
}


@media (min-width: 650px) {
    .shopproducts{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 20px 100px;
        align-items:unset;
    text-align: unset;
    justify-content: unset;
    }
    .boxes  {
        display: flex;
        // width: 80%;
        justify-content: center;
    }
    .img{
       display: flex;
       width: 30%;
       align-items: center;
        background-color: rgb(255, 255, 255);
        justify-content: center;
    }
    .pro{
        position: relative;
        top: -100px;
    }
    .Cat_info{
        width: 70%;
    }
}