.Detail_box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .images{
        img{
            height: 200px;
            width: auto;
        }
    }

    .info{
        padding: 20px;
        background-color: white;
         h1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
                padding-bottom: 10px;
            }

            .rate{
                display: flex;
                color: rgb(94, 93, 93);

                .star{
                    background-color: rgba(0, 128, 0, 0.726);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 50px;
                    border-radius: 10px;
                    color: white;
                    padding: 2px 7px;
                    margin-right: 30px;
                }
            }
  
            .info_price{
                display: flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                h2{
                    font-size: 30px;
                    color: rgb(0, 0, 0);
                    margin-right: 20px;
                    font-weight: 500;

                }

                h3{
                    text-decoration: line-through;
                    color: gray;
                    margin-right: 20px;
                    font-size: 20px;
                }

                h5{
                    color: green;
                    font-weight: 600;
                }

            }

            h4{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 20px;
                color: rgba(112, 8, 248, 0.712);
            }

            dl{
                padding-left: 30px;
            }
           
           

        

    }
}

.shop_btns{
    display: flex;
    button{
        border: 0px;
        padding: 3px 20px;
        margin: 20px;
        background-color: rgba(45, 233, 8, 0.425);
        color: green;
        font-size: 25px;
        font-family: serif;
        // border-radius: 10px;
        outline: none;
        box-shadow: 0 6px 10px -10px black;


        &:hover{
            background-color: white;
            box-shadow: 0 6px 10px -60px black;

        }
    }

    .cart_btn{
        background-color: rgba(255, 166, 0, 0.411);
        color: rgb(255, 102, 0);
    }
}

.Suggest_row{
    display: flex;
    flex-direction: row;
    // flex-wrap: wrap;
    overflow-x: scroll;
    button{
        border: none;
        background-color: none;
        outline: none;
    }
}

.SuggestScroll{
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
 img{
        height: 200px;
    }
   
}

@media (min-width: 650px) {
    .images{
        width: 40%;
       
    }

    .info{
        width: 60%;

    }
   
   
}

@media (max-width: 650px) {

 .shop_btns{
     margin-top: 20px;
        button{
            font-size: 23px;
            margin: 2px;
        } }
}