.Ordered_items{

}

.order_area{
    background-color: #fff;
}
.h11{
    background-color: #f1f3f6;
    h6{
        font-weight: 600;
        text-transform: uppercase;
        color: gray;
        padding: 20px;
        font-size: 30px;

    }
}