.bgm{
    background-color: #e5e0e7;
}

.main_block{
    // display: flex;
    background-color: rgba(243, 28, 0, 0.5);
    // align-items: center;
    // justify-content: center;
    padding: 10px;

    lottie-player{
        height: 500px;
     
    }

    .names{
        padding: 4px;

        h1{
            // font-size: 25px;
            color: rgb(255, 0, 0);
            text-transform: uppercase;
            font-weight: 600;
        }

        h5{
            color: rgb(255, 255, 255);
            // font-size: 15px;
        }

        button{
            background-color: rgba(250, 0, 0, 0.644);
            border: none;
            padding: 10px 15px;
            margin-top: 20px;
            color: white;
            font-size: large;
            border-radius: 6px;
            box-shadow: 0px 10px 30px -10px rgb(163, 18, 18);
            &:hover{
                background-color: red;
                color: white;
                cursor: pointer;
            }

        }
    }

}
.lottie{
    height: 300px;
    width: 100%;
    // background-color: green;
    overflow: hidden;
}
@media (min-width: 650px) {
    .main_block{
        height: 60vh;

        padding: 50px;
        lottie-player{
            height: 500px;
            position: relative;
            top: -150px;
            
            // background-color: aliceblue;
        }
    }
    .names{
        padding: 30px;
        h1{
            font-size: 45px;
           
        }
    
        h5{
           
            font-size: 30px;
        }
    }

  
  
}



@media (max-width: 650px) {
    .main_block{
        // display: flex;
        height: 60vh;
        padding: 20px;
        lottie-player{
            height: 500px;
            position: relative;
            top: -100px;
        } 
        
    
    }
  
    .names{
        padding: 15px;

        h1{
            font-size: 30px;
           
        }
    
        h5{
           
            font-size: 20px;
        }
    }


}
