.block{
  display: flex;
  flex-direction: row;



background-color: #1b1f23;


}




@media (max-width: 995px) {

  .left_area{
  display: none;
  }
  .right_area{
    width: 100%;
  }
  
}




@media (min-width: 995px) {

  .left_area{
    background-color: #1b1f23;
    position: fixed;
    width: 16%;

  }
  
  .right_area{
    width: 84%;
    position: relative;
    left: 16%;
  }
}
